/*
doc.html is the html document that is displayed in homework1

Ian Christensen
Prof. Vander Linden
CS-336-A, for Calvin College
Fall, 2018
*/

h1 {
	font-size: 32px;
	font-style: bold;
}

u {
	font-size: 18px;
}

em {
	font-size: 12px;
}
